name: flutter_jvx
description: A generic Flutter app for JVx applications.
homepage: https://www.sibvisions.com/
repository: https://github.com/sibvisions/flutter_jvx
issue_tracker: https://github.com/sibvisions/flutter_jvx/issues

publish_to: 'none'

version: 3.3.4+1

environment:
  sdk: ">=3.0.2 <4.0.0"

dependencies:
  # Flutter Dep
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  web: ^1.0.0

  flutter_web_plugins:
    sdk: flutter

  flutter_launcher_icons: ^0.14.0
  flutter_native_splash: ^2.4.0

  # iOS Dep
  cupertino_icons: ^1.0.0

  # Translations capability
  intl: any # An exact version pin will be provided by the Flutter SDK
  timezone: ^0.10.0
  flutter_timezone: ^5.0.0

  # Config
  shared_preferences: ^2.5.0

  # Device Identification
  package_info_plus: ^9.0.0
  device_info_plus: ^12.0.0
  android_id: ^0.5.0

  # Util
  dio: ^5.9.0
  logger: ^2.0.0
  collection: ^1.19.0
  rxdart: ^0.28.0
  queue: ^3.4.0
  flutter_html: ^3.0.0
  #flutter_html:
  #  git:
  #    url: https://github.com/Sub6Resources/flutter_html
  #    ref: flutter_html-v3.0.0-beta.2
  async: ^2.13.0

  # IO handling
  universal_io: ^2.0.0

  web_socket_channel: ^3.0.0
  connectivity_plus: ^7.0.0

  cross_file: ^0.3.0
  image_picker: '>=0.8.9 <2.0.0' # Recommended range
  file_picker: ^10.0.0
  file_saver: ^0.3.0

# SVG Support
  flutter_svg: ^2.0.0
  # Icons
  font_awesome_flutter: ^10.0.0
  # Managing different persistent classes
  get_it: ^9.0.0
  # QR Scanner
  mobile_scanner: ^7.0.0
  # Signature Pad
  signature: ^6.0.0
  # Saving files on system
  path: ^1.9.0
  path_provider: ^2.1.0
  # Zip files handling
  archive: ^4.0.0
  # Special Slivers for lists and grids (menu)
  sliver_tools: ^0.2.0
  # Auto resizing text widget
  auto_size_text: ^3.0.0
  # Used for routing with navigator 2.0
  beamer: ^1.7.0
  # Used for offline mode
  sqflite: ^2.4.0
  wakelock_plus: ^1.0.0
  # Used for debugging
  flutter_debug_overlay:
    git:
      url: https://github.com/sibvisions/flutter_debug_overlay

  # Custom Dependencies
  flutter_map: ^8.2.0
  latlong2: ^0.9.1
  geolocator: ^14.0.0
  scrollview_observer: ^1.26.0
  url_launcher: ^6.3.0
  linked_scroll_controller: ^0.2.0
  liquid_progress_indicator:
    git:
      url: https://github.com/wheregmis/liquid_progress_indicator
  photo_view: ^0.15.0
  avatars: ^3.0.0

  community_charts_flutter: ^1.0.4
  gauges: ^1.0.0
  graphic: ^2.6.0
  flutter_keyboard_visibility: ^6.0.0
  flutter_slidable: ^4.0.0
  action_slider: ^0.7.0
  webview_flutter: ^4.0.0
  card_loading: ^0.3.0
  flutter_treeview: #^1.0.7+1
    git:
      url: https://github.com/kee-org/flutter_treeview
      ref: v1.1.1

  modal_bottom_sheet: ^3.0.0
  qr_flutter: ^4.1.0
  screen_brightness: ^2.0.0

  #WYSIWYG HTML-Editor
  #html_editor_enhanced: ^2.6.0
  html_editor_enhanced:
    git: https://github.com/sibvisions/fix_html-editor-enhanced

  flutter_tts: ^4.0.0

  # see https://github.com/csdcorp/speech_to_text/issues/627
  speech_to_text: 7.2.0

#  speech_to_text:
#    git:
#      url: https://github.com/csdcorp/speech_to_text
#      path: speech_to_text

  push: ^3.0.0
  flutter_local_notifications: ^19.0.0
  open_filex: ^4.7.0

  json_dynamic_widget: ^10.0.0
  screenshot: ^3.0.0

  app_links: ^6.4.0

  badges: ^3.1.0

  uuid: ^4.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

  build_runner: ^2.4.14
  json_dynamic_widget_codegen: 3.0.0

dependency_overrides:

  json_theme:
    git:
      url: https://github.com/wardbj93/json_theme
      path: packages/json_theme

  #until wasm is fixed in original package
  flutter_keyboard_visibility:
    git:
      url: https://github.com/wenkaifan0720/flutter_keyboard_visibility
      path: flutter_keyboard_visibility

flutter:
  uses-material-design: true

  assets:
    - assets/config/
    - assets/images/
    - assets/languages/

flutter_launcher_icons:
  image_path: "assets/images/JVx.png"
  android: "ic_launcher"
  min_sdk_android: 21
  ios: true
  web:
    generate: true
    background_color: "#DADADA"
    theme_color: "#E3E3E3"

flutter_native_splash:
  # This package generates native code to customize Flutter's default white native splash screen
  # with background color and splash image.
  # Customize the parameters below, and run the following command in the terminal:
  # flutter pub run flutter_native_splash:create
  # To restore Flutter's default white splash screen, run the following command in the terminal:
  # flutter pub run flutter_native_splash:remove

  background_image: assets/images/JVx_Bg.png
  background_image_dark: assets/images/JVx_Bg_dark.png

  image: assets/images/J.png
  image_dark: assets/images/J_dark.png

  branding: assets/images/branding_sib_visions.png
  branding_dark: assets/images/branding_sib_visions_dark.png

  android_12:
    # The image parameter sets the splash screen icon image.  If this parameter is not specified,
    # the app's launcher icon will be used instead.
    # Please note that the splash screen will be clipped to a circle on the center of the screen.
    # App icon with an icon background: This should be 960×960 pixels, and fit within a circle
    # 640 pixels in diameter.
    # App icon without an icon background: This should be 1152×1152 pixels, and fit within a circle
    # 768 pixels in diameter.
    image: assets/images/J.png
    image_dark: assets/images/J_dark.png

    # Splash screen background color.
    color: "#DADADA"
    color_dark: "#353535"

    # App icon background color.
    icon_background_color: "#E3E3E3"
    icon_background_color_dark: "#3b3b3b"

    # The branding property allows you to specify an image used as branding in the splash screen.
    branding: assets/images/branding_sib_visions.png
    branding_dark: assets/images/branding_sib_visions_dark.png
